* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  /* border: 2px solid black; */
  height: 10vh;
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(251, 110, 10);
  position: sticky;
  top: 0;
}
/* .search{
    text-align: center;
} */
.heading {
  /* border: 2px solid black; */
  font-size: 1rem;
  font-weight: bold;
}
.navLinks > li > Link {
  /* border: 1px solid black; */
  cursor: pointer;
  padding: 4px 9px;
  margin: 0 0.5rem;
  color: black;
}
.theme {
  display: flex;
  justify-content: center;
}
.fa-moon {
  /* border: 2px solid black; */
  cursor: pointer;
  /* margin-left: 2rem; */
  font-size: 2rem;
  /* color: white; */
}

ul {
  /* border: 2px solid black; */
  margin-right: 11rem;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
}
li {
  margin: 2rem;
  /* color: black; */
}

li:hover {
  cursor: pointer;
  /* background-color: white; */
  /* padding: 0.1rem; */
  text-decoration: underline;
}
